body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

h1:hover {
    color: red;
}

button {
    padding: 10px 20px;
    background-color: #5714f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.orange-button {
    background-color: orange;
}

.pink-button {
    background-color: rgb(105, 3, 114);
}

button:hover {
    background-color: #a3fa30;
}

.calculator {
    margin-bottom: 30px;
}

h2 {
    font-size: 20px;
    color: #007bff;
    margin-bottom: 15px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.result {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.triangle-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
